
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <title>Digital Library Solution</title>
  
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="./assets/css/material-kit.css" data-th-href="@{/assets/css/material-kit.css}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/css/custom.css" data-th-href="@{/assets/css/custom.css}" rel="stylesheet" />
</head>
<body class="product-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="index.html" data-th-href="@{/consulta}" > Digital Library Solution </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="active nav-item">
            <a href="#pablo" data-th-href="@{/consulta}" class="nav-link">
              <i class="material-icons">explore</i> Inicio <div class="ripple-container"></div>
            </a>
          </li>
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <i class="material-icons">apps</i> Minhas ações
              <div class="ripple-container"></div>
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="emprestimo.html" data-th-href="@{/emprestimos}" class="dropdown-item">
                <i class="material-icons">layers</i> Meus Empréstimos
              </a>
              <a href="reserva.html" data-th-href="@{/reservas}" class="dropdown-item">
                <i class="material-icons">content_paste</i> Minhas Reservas
              </a>
              <a href="emprestimo.html" data-th-href="@{/livros}" class="dropdown-item" th:if="${isAdmin}">
                <i class="material-icons">book</i> Livros
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a href="login.html"  data-th-href="@{/logout}" class="nav-link">
              <i class="material-icons">settings</i> Sair
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="page-header header-filter clear-filter backgroud-gradient"></div>
  
  <div class="main main-raised">
    <div class="container">
      
      <div class="section">
        <div class="d-flex flex-row">

          <p>Seja Bem Vindo</p>

        </div>
        <div class="row  d-flex flex-row-reverse">
          <div class="col-md-12 d-flex flex-row-reverse">
            <a href="cadastrarLivro_novo.html" data-th-href="@{/livros/new}" class="btn btn-outline-primary btn-link" >Cadastrar Livro</a>
            <a data-th-href="@{/emprestimos/livrosDevolvidos}" class="btn btn-outline-primary btn-link">Devolução Livro</a>
          </div>
        </div>
        
        <div class="d-flex justify-content-center" style="margin-top:45px; margin-bottom:45px;">
          <div class="col-md-12">
            <form method="GET" action="">
              <div class="input-group">
                <input type="text" name="q" class="form-control"  placeholder="Pesquisar Livro...">
                
                <div class="input-group-append">
                  <button class="btn btn-primary btn-link" type="submit"> <i class="material-icons">search</i> </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th>Publicação</th>
                        <th>Ações</th>
                        <tr>
                        </thead>
                        <tbody>
                          <tr data-th-each="livro : ${livros}">
                            <td class="text-center" data-th-text="${livro.id}">1</td>
                            <td data-th-text="${livro.titulo}">Develop</td>
                            <td data-th-text="${livro.autor}">/td>
                              <td data-th-text="${livro.anoPublicacao}">2013</td>
                              <td class="td-actions">
                               <div class="row">
                                <a href="editarLivro.html" data-th-href="@{/livros/edit/{id}(id=${livro.id})}" class="btn btn-success btn-link btn-just-icon btn-sm">
                                  <i class="material-icons">edit</i>
                                </a>
                                <form class="d-inline-block" data-th-action="@{/livros/deletarLivro}" method="POST" >
                                  <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-just-icon btn-sm" data-original-title="" title="">
                                    <i class="material-icons">close</i>
                                  </button>
                                </form>
                               </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</div>
</div>
        
<footer class="footer" data-background-color="black">
  <div class="container">
    <div class="copyright float-right">
      © <script>document.write(new Date().getFullYear())</script> Cognizant Technology Solutions, all rights reserved
    </div>
  </div>
</footer>
        
<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.min.js" data-th-src="@{/assets/js/core/jquery.min.js}" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" data-th-src="@{/assets/js/core/popper.min.js}" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap-material-design.min.js" data-th-src="@{/assets/js/core/bootstrap-material-design.min.js}" type="text/javascript"></script>
        
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/material-kit.min.js" data-th-src="@{assets/js/material-kit.min.js}" type="text/javascript"></script>
</body>

</html>

