<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<title>Digital Library Solution Development - Consult</title>

<link rel="stylesheet" type="text/css"
	href="../../static/assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="../../static/assets/css/custom.css"
	th:href="@{/assets/css/custom.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
	integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	crossorigin="anonymous">
</head>
<body>
	<header
		class="navbar navbar-expand-lg navbar-dark bg-primary  border-bottom box-shadow navbar-static-top">
		<a class="navbar-brand text-white" href="#">Digital Library
			Solution</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link " href="#">
						<i class="fas fa-book fa-lg"></i> Empréstimo
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i
						class="far fa-calendar-check fa-lg"></i> Reservas
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i
						class="fas fa-user-circle fa-lg"></i> Perfil
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <i
						class="fas fa-sign-out-alt fa-lg"></i> Sair
				</a></li>
			</ul>
		</div>
	</header>

	<div class="container centerSearch">
		<div class="row d-flex justify-content-center">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<span><h4>Livros</h4></span>
						<div class="d-flex justify-content-end">
							<button type="button" class="btn btn-outline-info">Cadastrar
								Livro</button>
						</div>
						</span>
						<div class="col-md-12">
							<div class="input-group pt-md-5">
								<input type="text" class="form-control"
									aria-label="Text input with dropdown button">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">
										<i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive-md">
							<div data-spy="scroll" data-target="#navbar-example2"
								data-offset="0">
								<table class="table table-striped">
									<thead>
										<tr class="bg-success text-white">
											<th scope="col ">Livro</th>
											<th scope="col">Autor</th>
											<th scope="col">Publicação</th>
											<th scope="col">Ações</th>
										</tr>
									</thead>
									<tbody>
										<tr data-th-each=" livro : ${livros}">
											<td th:text=" ${livro.titulo}">Culinaria</td>
											<td><span th:each="autor: ${livro.autores}"> 
												<span th:text="${autor.nome}"></span>
											</span></td>
											<td th:text=" ${livro.anoPublicacao}">2018</td>
											<td><span> <a href="#"
													th:href="@{/livros/edit/{id}(id=${livro.id})}"
													class="btn btn-outline-warning"> <i class="far fa-edit"></i>
												</a>
											</span> <span>
													<button type="button" class="btn btn-outline-danger">
														<i class="far fa-trash-alt"></i>
													</button>
											</span></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="text-muted">
		<div class="container centerSearch"></div>
	</footer>


	<script src="../../static/assets/js/jquery.min.js"
		th:src="@{/assets/js/jquery.min.js}"></script>
	<script src="../../static/assets/js/popper.js"
		th:src="@{/assets/js/popper.js}"></script>
	<script src="../../static/assets/js/bootstrap.min.js"
		th:src="@{/assets/js/bootstrap.min.js}"></script>


</body>

</html>
