<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Digital Library Solution Development - Reserved</title>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
          <a class="navbar-brand text-white" href="#">Digital Library Solution</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item   ">
                <a class="nav-link " href="#"> <i class="fas fa-book fa-lg"></i> Empréstimo</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#"> <i class="far fa-calendar-check fa-lg"></i> Reservas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-user-circle fa-lg"></i> Perfil </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-sign-out-alt fa-lg"></i> Sair </a>
              </li>
            </ul>
          </div>
        </nav>

        <main class="container">
            <div style="height: 64px">
                <!-- Espaçamento para manter o conteudo abaixo da navbar (fixed-top) -->
            </div>

            <h1 class="h3">Reservas</h1>

            <div class="accordion border shadow-sm rounded" id="accordion">
            	<div th:each="reserva : ${reservas}">
	                <a data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
	                    <div class="row py-2 mx-0 border-bottom">
	                        <div class="col-12 col-lg-4">
	                            <strong>Nome:</strong> <span th:text="${reserva.livro.titulo}"></span>
	                        </div>
	                        <div class="col-12 col-md-6 col-lg-4">
	                            <strong>Autor:</strong> <span th:text="${reserva.livro.autores[0]}"></span>
	                        </div>
	                        <div class="col-12 col-md-6 col-lg-4">
	                            <strong>Disponibilidade:</strong> Na prateleira XPTO
	                        </div>
	                    </div>
	                </a>
	                <div id="collapse1" class="collapse bg-light border-bottom" aria-labelledby="heading1" data-parent="#accordion">
	                    <div class="p-3">
	                        <p>
	                            <strong>Descrição:</strong>
	                            <span th:text="${reserva.livro.sinopse}"></span>
	                         </p>
	                         <p>   
	                            <strong>ISBN 13:</strong>
	                            <span th:text="${reserva.livro.isbn13}"></span>
	                            
	                            <strong>Ano de Publicação:</strong>
	                            <span th:text="${reserva.livro.anoPublicacao}"></span>
	                            
	                            <strong>Edição:</strong>
	                            <span th:text="${reserva.livro.edicao}"></span>
	                            
	                            <strong>Foto:</strong>
	                            <span th:text="${reserva.livro.foto}"></span>
	                        </p>
	                        <p><strong>Data da reserva:</strong> DD/MMM/YYYY</p>
	                        <div class="text-right">
	                            <a href="#" class="btn btn-secondary">Apagar reserva</a>
	                            <a href="#" class="btn btn-secondary">Efetuar empréstimo</a>
	                        </div>
	                    </div>
	                </div>
				</div>
                
            </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
