<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- /TODO Customizar o CSS para esse template    -->
    <link href="./assets/css/login.css" rel="stylesheet">
    <!--TODO  adicionar favicon
    <link rel="icon" href="./favicon.ico">-->
    <title>Digital Library Solution - Login</title>
  </head>
  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" th:src="@{/assets/svg/book.svg}" src="./assets/svg/book.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Digital Library Solution</h1>
      <!-- /TODO Adicionar mensagens personalizadas de erros
      -->
      <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required=""
          oninvalid="this.setCustomValidity('Insira uma senha válida')"
          oninput="setCustomValidity('')">

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar-me
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

      <div class="login-register">
                  <a href="../register/Register.html">Registrar</a>
      </div>

    </form>
  </body>
</html>
