<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous">
        <!-- TODO Customizar o CSS para esse template    -->
        <link href="./assets/css/register.css" rel="stylesheet">
        <!--TODO  Adicionar favicon
            <link rel="icon" href="./favicon.ico">-->
        <title>Digital Library Solution - Register</title>
    </head>
    <body class="text-center">

        <form class="form-signin" th:action="@{/register/create}" data-th-object="${usuario}" method="post">

            <!-- TODO Inserir logo em .svg do projeto-->
            <img class="mb-4" th:src="@{/assets/svg/book.svg}"
                 src="./assets/svg/book.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Digital Library Solution</h1>
            <!-- /TODO Adicionar mensagens personalizadas de erros-->
            <div class="alert alert-danger" data-th-if="${msgErro} != null" data-th-text="${msgErro}"></div>

            <label for="inputName" class="sr-only">Nome</label>
            <input type="text" id="inputName" class="form-control" placeholder="Nome" required=""
                   autofocus="" data-th-field="*{nome}"> 
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputID"class="sr-only">ID Cognizant</label> 
            <input type="number"id="inputID" class="form-control" placeholder="ID Cognizant"required="" onkeydown="javascript: return event.keyCode == 69 ? false : true"
                   data-th-field="*{idCgz}">
            <span th:if="${#fields.hasErrors('idCgz')}" th:errors="*{idCgz}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputGrade" class="sr-only">Grade</label> 
            <input type="text" id="inputGrade" class="form-control" placeholder="Grade"
                   required="" data-th-field="*{grade}">
            <span th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputHor" class="sr-only">Horizontal</label> 
            <input type="text" id="inputHor" class="form-control"
                   placeholder="Horizontal" required=""
                   data-th-field="*{horizontal}">
            <span th:if="${#fields.hasErrors('horizontal')}" th:errors="*{horizontal}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputVer" class="sr-only">Vertical</label> 
            <input type="text" id="inputVer" class="form-control"
                   placeholder="Vertical" required=""
                   data-th-field="*{vertical}">
            <span th:if="${#fields.hasErrors('vertical')}" th:errors="*{vertical}" class="text-danger help-block" >Incorrect date</span>

            <!-- TODO Não temos a lista das horizontais verticais no momento
           <label for="horizontalVertical" class="sr-only">Horizontal/Vertical</label>
            <input list="listHorizontalVertical" id="horizontalVertical" class="form-control" placeholder="Horizontal/Vertical"name="horizontalVertical" />
              <datalist id="listHorizontalVertical">
                <option value="RH/Exemplo1">
                <option value="TI/Exemplo2">
                <option value="Vendas/Exemplo3">
                <option value="Externo/Exemplo4">
              </datalist> -->

            <label for="inputEmail" class="sr-only">Email</label> 
            <input type="email" id="inputEmail" class="form-control" placeholder="Email"required="" value="@cognizant.com" data-th-field="*{email}"> 
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputPassword" class="sr-only">Senha</label> 
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="" oninvalid="this.setCustomValidity('Insira uma senha válida')"
                   oninput="setCustomValidity('')" 
                   data-th-field="*{senha}"> 
            <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" class="text-danger help-block" >Incorrect date</span>
            <label for="inputPassword"class="sr-only">Confirmar Senha</label> 
            <input type="password"
                   id="inputPassword" class="form-control" placeholder="Confirmar Senha"
                   required=""
                   oninvalid="this.setCustomValidity('Insira uma senha válida')"
                   oninput="setCustomValidity('')"
                   data-th-field="*{confirmaSenha}" >

            <span th:if="${#fields.hasErrors('confirmaSenha')}" th:errors="*{confirmaSenha}" class="text-danger help-block" >Incorrect date</span>

            <div class="checkbox mb-3">
                <label> <input type="checkbox" value="remember-me">
                    Lembrar-me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>

            <div class="login-register">
                <a href="../login/login.html">Login</a>
            </div>

        </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    </body>
</html>


