<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <title>Digital Library Solution</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="./assets/css/material-kit.css" data-th-href="@{/assets/css/material-kit.css}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/css/custom.css" data-th-href="@{/assets/css/custom.css}" rel="stylesheet" />
  </head>
  <body class="product-page  sidebar-collapse">

    <!--Adicionar fragmento Header padrão -->
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
      <div class="container">
        <div class="navbar-translate">
          <a class="navbar-brand" href="index.html" data-th-href="@{/consulta}" >Digital Library Solution </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="active nav-item">
              <a href="#pablo" data-th-href="@{/}" class="nav-link">
                <i class="material-icons">explore</i> Inicio <div class="ripple-container"></div>
              </a>
            </li>

            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">apps</i> Minhas ações
                <div class="ripple-container"></div>
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="emprestimo.html" data-th-href="@{/emprestimos}" class="dropdown-item">
                  <i class="material-icons">layers</i> Meus Empréstimos
                </a>
                <a href="reserva.html" data-th-href="@{/reservas}" class="dropdown-item">
                  <i class="material-icons">content_paste</i> Minhas Reservas
                </a>
                <a href="emprestimo.html" data-th-href="@{/livros}" class="dropdown-item" th:if="${isAdmin}">
                  <i class="material-icons">book</i> Livros
                </a>
              </div>
            </li>

            <li class="nav-item">
              <a href="login.html" data-th-href="@{/logout}"  class="nav-link">
                <i class="material-icons">settings</i> Sair
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <!--  Fim do header-->

    <div class="page-header header-filter clear-filter backgroud-gradient">
    </div>
    <div class="main main-raised">
      <div class="container">
        <div class="section text-center">
          <div class="row">
            <div class="col-md-12 ">
              <form action="#" method="GET">
                <div class="input-group">

                  <input type="text" name="q" class="form-control" placeholder="Busque um livro...">

                  <button class="btn btn-outline-primary btn-link" type="submit">Pesquisar</button>
                </div>
              </form>
            </div>
          </div>
             <div id="cards" class="cd-section">
              <div class="section-gray">
                <!--     *********    MORPHING CARDS     *********      -->
                <div class="row">
                <div class="cards col-md-4" id="morphingCards" data-th-each="livro: ${livros}">

                        <div class="rotating-card-container manual-flip">
                          <div class="card card-rotate">
                            <div class="front">
                              <div class="card-body">
                                <h5 class="card-category card-category-social card-title" data-th-text="${livro.titulo}">
                                  Titulo: Blabla bla
                                </h5>
                                <h4 class=" text-success" data-th-text="${livro.autor}">
                                  <!-- <a href=""> -->
                                    Autor: Fulano de Tal
                                  <!-- </a> -->
                                </h4>
                                <div class="row">
                                  <div class="col-xs-6 mx-auto">
                                   <a  data-th-href="@{consulta/{id}(id=${livro.id})} " class="thumbnail">
                                      <img class="img-150 " data-th-src="${(livro.urlFoto == null OR livro.urlFoto == '') ? '/assets/img/bookCoverNotFound.jpg' : livro.urlFoto  }" />
                                    </a>
                                  </div>
                                </div>
                                <div class="stats text-center">
                                  <button type="button" name="button" class="btn  btn-primary btn-link  btn-rotate">
                                    <i class="material-icons">refresh</i> Mais informações
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="back">
                              <div class="card-body">
                                <h5 class="card-title">
                                  Sinopse:
                                </h5>
                                <p class="card-description" data-th-text="${#strings.abbreviate(livro.sinopse,150)}">
                                  Sinopse...
                                </p>
                                <div class="container">
                                  <div class="row">
                                    <div class="col-lg-12">
                                      <div class="star-rating">
                                        <span class="fa fa-star-o" data-rating="1"></span>
                                        <span class="fa fa-star-o" data-rating="2"></span>
                                        <span class="fa fa-star-o" data-rating="3"></span>
                                        <span class="fa fa-star-o" data-rating="4"></span>
                                        <span class="fa fa-star-o" data-rating="5"></span>
                                        <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="stats text-center">
                                  <a href="detalhes.html" data-th-href="@{/consulta/{id}(id = ${livro.id})}" class="btn btn-outline-primary">
                                    Detalhes
                                  </a>
                                </div>
                                <button type="button" name="button" class="btn btn-link btn-rotate">
                                  <i class="material-icons">refresh</i> Voltar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                </div>
                <!--     *********    END MORPHING CARDS      *********      -->
                <div class="col-md-3 ml-auto mr-auto" style="margin-top: 30px;">
                  <ul class="pagination pagination-info">
                    <li class="page-item">
                      <a href="javascript:void(0);" class="page-link"> prev</a>
                    </li>
                    <li class="active page-item">
                      <a href="javascript:void(0);" class="page-link">1</a>
                    </li>
                    <li class="page-item">
                      <a href="javascript:void(0);" class="page-link">next </a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>

    <footer class="footer" data-background-color="black">
      <div class="container">

    <div class="copyright float-right">
      © <script>document.write(new Date().getFullYear())</script> Cognizant Technology Solutions, all rights reserved
    </div>
      </div>
    </footer>

    <!--   Core JS Files   -->
    <script data-th-src="@{/assets/js/core/jquery.min.js}" type="text/javascript"></script>
    <script data-th-src="@{/assets/js/core/popper.min.js}" type="text/javascript"></script>
    <script data-th-src="@{/assets/js/core/bootstrap-material-design.min.js}" type="text/javascript"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script data-th-src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
    <script data-th-src="@{/assets/js/plugins/moment.min.js}"></script>
    <script data-th-src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    <script data-th-src="@{/assets/js/plugins/bootstrap-datetimepicker.js}" type="text/javascript"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script data-th-src="@{/assets/js/plugins/nouislider.min.js}" type="text/javascript"></script>
    <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
    <script data-th-src="@{/assets/js/material-kit.min.js}" type="text/javascript"></script>

    <script>
      $(document).ready(function () {
        $("#pesquisa").click(function () {
          $("#avancado").toggle();
        });
      });
      </script>
      <script>
      var $star_rating = $('.star-rating .fa');

      var SetRatingStar = function() {
        return $star_rating.each(function() {
          if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
          } else {
            return $(this).removeClass('fa-star').addClass('fa-star-o');
          }
        });
      };

      $star_rating.on('click', function() {
        $star_rating.siblings('input.rating-value').val($(this).data('rating'));
        return SetRatingStar();
      });

      SetRatingStar();
      $(document).ready(function() {

      });
    </script>
  </body>
</html>
