<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <title>Digital Library Solution Development - Consult</title>
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap.min.css" data-th-href="@{/assets/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/fontawesome-all.min.css" data-th-href="@{/assets/css/fontawesome-all.min.css}">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/custom.css" data-th-href="@{/assets/css/custom.css}">
    </head>
    <body>
        <header class="navbar navbar-expand-lg navbar-dark bg-primary  border-bottom box-shadow navbar-static-top">
            <a class="navbar-brand text-white" href="#">Digital Library Solution</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="#"> <i class="fas fa-book fa-lg"></i> Empréstimo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="far fa-calendar-check fa-lg"></i> Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fas fa-user-circle fa-lg"></i> Perfil </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fas fa-sign-out-alt fa-lg"></i> Sair </a>
                    </li>
                </ul>
            </div>
        </header>

        <div class="container space">
            <div class="row">
                <div class="col-md-12">
                    <div class="card space">
                        <div class="media">
                            <img class="align-self-end mr-3" data-th-src="@{/assets/img/livro.jpg}" src="../../static/assets/img/livro.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h3  class="text-justify">Titulo: <span data-th-text="${livro.titulo}"></span> </h3>
                                <h5 class="text-justify">Autor: <span data-th-text="${livro.autores}"></span> </h5>
                                <h5 class="text-justify">ISBN: <span data-th-text="${livro.isbn13}"></span> </h5>
                                <p class="text-justify">Descrição: <span data-th-text="${livro.descricao}"></span> </p>

                                <div class="col-md-12">
                                    <button type="button" class="btn btn-outline-success">Emprestimo</button>
                                    <button type="button" class="btn btn-outline-primary">Reserva</button>
                                </div>
                                <div class="row d-flex justify-content-end">
                                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Relatar Avaria</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Recipient:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="text-muted">
            <div class="container centerSearch"></div>
        </footer>

        <script src="../../static/assets/js/jquery.min.js" data-th-src="@{/assets/js/jquery.min.js}"></script>
        <script src="../../static/assets/js/popper.js" data-th-src="@{/assets/js/popper.js}"></script>
        <script src="../../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
    </body>
</html>
