<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Digital Library Solution Development - Empréstimos</title>
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/bootstrap.min.css" data-th-href="@{/assets/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/fontawesome-all.min.css" data-th-href="@{/assets/css/fontawesome-all.min.css}">
        <link rel="stylesheet" type="text/css" href="../../static/assets/css/custom.css" data-th-href="@{/assets/css/custom.css}">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
            <a class="navbar-brand text-white" href="#">Digital Library Solution</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item   ">
                        <a class="nav-link " href="#"> <i class="fas fa-book fa-lg"></i> Empréstimo</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> <i class="far fa-calendar-check fa-lg"></i> Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fas fa-user-circle fa-lg"></i> Perfil </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <i class="fas fa-sign-out-alt fa-lg"></i> Sair </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container">
            <div style="height: 64px">
                <!-- Espaçamento para manter o conteudo abaixo da navbar (fixed-top) -->
            </div>

            <h1 class="h3">Meus Empréstimos</h1>

            <!-- <div class="accordion border shadow-sm rounded" id=accordion"> -->
            <div class="table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ISBN</th>
                            <th scope="col">Nome Livro</th>
                            <th scope="col">Data Empr.</th>
                            <th scope="col">Prazo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9788525056009</td>
                            <td>Admirável Mundo Novo</td>
                            <td>2018/09/17</td>
                            <td>2018/09/24</td>
                            <td>
                                <span>
                                    <button type="button" class="btn btn-outline-warning"><i class="fas fa-undo"></i></i></button>
                                </span>
                                <span>
                                    <button type="button" class="btn btn-outline-success"><i class="far fa-check-square"></i></button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>9788535914849</td>
                            <td>1984</td>
                            <td>2018/04/27</td>
                            <td>2018/05/01</td>
                            <td>
                                <span>
                                    <button type="button" class="btn btn-outline-warning"><i class="fas fa-undo"></i></i></button>
                                </span>
                                <span>
                                    <button type="button" class="btn btn-outline-success"><i class="far fa-check-square"></i></button>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>9781119055808</td>
                            <td>R for Dummies</td>
                            <td>2018/04/27</td>
                            <td>2018/05/17</td>
                            <td>
                                <span>
                                    <button type="button" class="btn btn-outline-warning"><i class="fas fa-undo"></i></i></button>
                                </span>
                                <span>
                                    <button type="button" class="btn btn-outline-success"><i class="far fa-check-square"></i></button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <button type="button" class="btn btn-outline-success">Renovar</button>
                <button type="button" class="btn btn-outline-danger">Entregar</button> -->

            </div>
        </main>

        <script src="../../static/assets/js/jquery.min.js" data-th-src="@{/assets/js/jquery.min.js}"></script>
        <script src="../../static/assets/js/popper.js" data-th-src="@{/assets/js/popper.js}"></script>
        <script src="../../static/assets/js/bootstrap.min.js" data-th-src="@{/assets/js/bootstrap.min.js}"></script>
    </body>
</html>
