
<header
	class="navbar navbar-expand-lg navbar-dark bg-primary  border-bottom box-shadow navbar-static-top">
	<a class="navbar-brand text-white" data-th-href="@{/consulta}">Digital
		Library Solution</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active"><a class="nav-link "
				data-th-href="@{/emprestimos}"> <i class="fas fa-book fa-lg"></i>
					Empréstimo
			</a></li>
			<li class="nav-item"><a class="nav-link"
				data-th-href="@{/livros}"> <i
					class="far fa-calendar-check fa-lg"></i> Livros
			</a></li>
			<!--<li class="nav-item"><a class="nav-link" data-th-href="@{/reservas}"> <i
						class="far fa-calendar-check fa-lg"></i> Reservas
				</a></li>  -->
			<li class="nav-item"><a class="nav-link" href="#"> <i
					class="fas fa-user-circle fa-lg"></i> Perfil
			</a></li>
			<li class="nav-item"><a class="nav-link"
				data-th-href="@{/logout}"> <i class="fas fa-sign-out-alt fa-lg"></i>
					Sair
			</a></li>
		</ul>
	</div>
</header>
